* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: var(--root-size);
  scroll-behavior: smooth;
}

html,
body {
  max-width: 100vw;
}

body {
  background: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-main);
  line-height: 1.5;
  transition: background .3s ease-out;
}

main {
  min-height: 80vh;
}


h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
  line-height: 1.2;
}

h1 {
  font-size: var(--font-size-h1);
  margin-bottom: .6rem;
}

a {
  color: inherit;
  text-decoration: underline;
  text-underline-offset: .16em;
  text-decoration-thickness: .08em;
  transition: color var(--transition-duration) var(--transition-easing);

  &:hover {
    color: var(--color-hover);
  }
}

p {
  margin: 0 0 1rem;
  font-size: var(--font-size-body);
  max-width: var(--max-width-p);
  &.lead {
    line-height: 1.36;
    font-size: var(--font-size-lead);
    max-width: var(--max-width-lead);
  }
}

.pagelink {
  display: block;
  background: var(--color-details);
  width: 100%;
  padding: var(--spacing-headerpadding) var(--spacing-sitepadding-inline);
  text-align: right;
  font-style: italic;
  text-decoration: none;
  font-size: var(--font-size-h3);
}

.date {
  grid-column: span 2;
  font-family: var(--font-details);
  font-size: var(--font-size-header);
  letter-spacing: var(--letter-spacing);
  margin-top: .36rem;
  opacity: .6;
}