:root {
  // fonts
  --font-main: "Make Way", serif;
  --font-heading: "Make Way", serif;
  --font-details: "Fragment Mono", monospace;

  // colors
  --color-white: #FFFDFA;
  --color-birch: #ffe7cb;
  --color-forest: #276985;
  --color-underdark: #17242B;
  --color-leaf: #5bbcba; 
  // colors in use
  --color-text: var(--color-underdark);
  --color-background: var(--color-white);
  --color-background-secondary: var(--color-birch);
  // details
  --color-hover: var(--color-forest);
  --color-details: var(--color-leaf);

  // font sizes
  --root-size: 18px;
  --font-size-body: 1rem;
  --font-size-lead: 1.5rem;
  --font-size-header: .8rem;
  --font-size-mini: .66rem;
  --font-size-h1: 3.6rem;
  --font-size-h2: 1.8rem;
  --font-size-h3: 1.4rem;

  // layout sizes
  --max-width-page: 1440px;
  --max-width-p: 32rem;
  --max-width-lead: 38em;

  // spacing
  --spacing-sitepadding-block: 1.4rem;
  --spacing-sitepadding-inline: 1.4rem;
  --spacing-headerpadding: .6rem;

  // type details
  --letter-spacing: 0.04em;

  // shape details
  --border-radius-tag: 3px;

  // animation & transitions
  --transition-duration: .2s;
  --transition-easing: ease;
}

@media (min-width: 800px) {
  :root {
    --root-size: 22px;

    --spacing-sitepadding-block: 3rem;
    --spacing-sitepadding-inline: 4rem;
  }
}

@media (min-width: 1600px) {
  :root {
    --spacing-sitepadding-inline: 12vw;
  }
}

@media (min-width: 2100px) {
  :root {
    --spacing-sitepadding-inline: 20vw;
  }
}