.footer {
  background: var(--color-background-layout);
  color: var(--color-text-layout);
  padding: var(--spacing-sitepadding-block) var(--spacing-sitepadding-inline);
  min-height: 60dvh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}