.footer {
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

.skyline {
  position: relative;

  .clouds, .trees {
    background-size: auto 100%;
    background-repeat: repeat-x;
  }

  .clouds {
    height: 160px;
    background-image: url('/assets/pixels/skyline/clouds.png');
  }
  .trees {
    height: 300px;
    background-image: url('/assets/pixels/skyline/trees.png');
    margin-top: -100px;
    margin-bottom: -160px;
  }
}

.related {
  position: relative;
  background: var(--color-forest);
  color: var(--color-white);
  padding: var(--spacing-sitepadding-block) var(--spacing-sitepadding-inline);
  min-height: 40dvh;
}

.contact {
  position: relative;
  background: var(--color-underdark);
  color: var(--color-white);
  padding: var(--spacing-sitepadding-block) var(--spacing-sitepadding-inline);
  min-height: 40dvh;
}

.house {
  position: absolute;
  bottom: -10px;
  right: var(--spacing-sitepadding-inline);
}

.monster {
  --width: 135px;
  --height: 96px;
  --frames: 8;
  --animation-speed: 1s;
  --sprite-url: url('/assets/pixels/monsters/forestmonster/Bush_Monster-Idle.png');
  
  width: var(--width);
  height: var(--height);
  background: var(--sprite-url) 0 0 no-repeat;
  background-size: calc(var(--width) * var(--frames)) var(--height);
  animation: play var(--animation-speed) steps(var(--frames)) infinite;

  position: absolute;
  bottom: 0;
  right: var(--spacing-sitepadding-inline);
}
@keyframes play {
  from {
    background-position: 0 0;
  }
  to {
    background-position: calc(var(--width) * var(--frames) * -1) 0;
  }
}