.footer {
  position: relative;
  background: var(--color-underdark);
  padding-bottom: calc(var(--spacing-sitepadding-block)*2);
}

.contact {
  color: var(--color-white);
  padding: var(--spacing-sitepadding-block) var(--spacing-sitepadding-inline);
  min-height: 40dvh;

  p {
    opacity: .6;
    margin-bottom: var(--spacing-sitepadding-block);
  }
}

.contactItems {
  li {
    display: grid;
    grid-template-columns: 6rem 1fr;

    span {
      opacity: .5;
    }

    a {
      grid-column: 2;
    }

    &.email {
      margin-bottom: 1rem;
    }
  }
}

.house {
  position: absolute;
  bottom: -10px;
  right: var(--spacing-sitepadding-inline);
}

.monster {
  > div {
    position: absolute;
    bottom: 0;
    right: var(--spacing-sitepadding-inline);
    &:nth-child(2) {
      opacity: 0;
    }
  }
  &:hover {
    > div {
      opacity: 0;
      &:nth-child(2) {
        opacity: 1;
      }
    }
  }
}