.header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  font-family: var(--font-details);
  font-size: var(--font-size-header);
  letter-spacing: var(--letter-spacing);
  background: var(--color-underdark);
  color: var(--color-background);
  padding: var(--spacing-headerpadding) var(--spacing-sitepadding-inline);
  a {
    text-decoration: none;
  }
}

.title {
  width: 50%;
}

.menu {
  width: 50%;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
  }
}

.border {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  /*background-size: auto 100%;
  background-repeat: repeat-x;
  height: 160px;
  width: 100%;
  background-image: url('/assets/pixels/borders/shadow-forest/main.png');*/
  display: flex;
  align-items: flex-start;
}