.header {
  padding: 1rem var(--spacing-sitepadding-inline);
  display: flex;
  justify-content: space-between;
  background: teal;
}

.menu {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 2rem;
  }
}