.header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  font-family: var(--font-details);
  font-size: var(--font-size-header);
  letter-spacing: var(--letter-spacing);
  background: var(--color-underdark);
  color: var(--color-background);
  a {
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap: .6em;
  }
}

.title {
  padding: var(--spacing-headerpadding) var(--spacing-sitepadding-inline);
}

.menu {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  li {
    display: inline-block;
    a {
      padding: var(--spacing-headerpadding) 2rem;
    }
    &:last-child {
      a {
        padding-right: var(--spacing-sitepadding-inline);
      }
    }
  }
}

.border {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  /*background-size: auto 100%;
  background-repeat: repeat-x;
  height: 160px;
  width: 100%;
  background-image: url('/assets/pixels/borders/shadow-forest/main.png');*/
  display: flex;
  align-items: flex-start;
}