.postHeader {
  padding: calc(var(--spacing-sitepadding-block)*1.4) var(--spacing-sitepadding-inline) var(--spacing-sitepadding-block);
  background: var(--color-background-secondary);
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

.meta {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-family: var(--font-details);
  font-size: var(--font-size-mini);
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing);
}

.tags {
  display: inline-flex;
  gap: .4rem;
  list-style: none;
}

.tag {
  font-family: var(--font-details);
  padding: 0 .4rem;
  line-height: 2;
  background: var(--color-details);
  border-radius: var(--border-radius-tag);
}