.postList {
  display: block;
  list-style: none;
  padding: var(--spacing-sitepadding-block) var(--spacing-sitepadding-inline) calc(var(--spacing-sitepadding-block)*2); 
}

.postItem a {
  text-decoration: none;
  display: grid;
  grid-template-columns: 9rem 1fr;
  gap: 2rem;
  margin-bottom: 2rem;

  @media (max-width: 900px) {
    grid-template-columns: 1fr;
    gap: .6rem;
  }

  &:hover {
    color: inherit;

    .title {
      text-decoration: underline;
      text-underline-offset: .1em;
      text-decoration-thickness: 0.06em;

      span {
        transform: translate(0, -40%);
        opacity: 1;
      }
    }
  }
}

.title {
  display: inline-block;
  font-weight: 600;
  font-size: var(--font-size-h2);
  margin-bottom: .6rem;
  position: relative;

  span {
    font-size: var(--font-size-header);
    position: absolute;
    top: 50%;
    right: -2rem;
    transform: translate(-20%, -40%);
    width: 1em;
    opacity: 0;
    transition: all .2s ease;
  }
}

.date {
  line-height: calc(var(--font-size-h2)* .8);
}
