.postList {
  display: block;
  list-style: none;
  padding: var(--spacing-sitepadding-block) var(--spacing-sitepadding-inline) calc(var(--spacing-sitepadding-block)*2); 
}

.postItem a {
  text-decoration: none;
  display: grid;
  grid-template-columns: 9rem 1fr;
  gap: 2rem;
  margin-bottom: 2rem;
}

.title {
  font-weight: 600;
  font-size: var(--font-size-h2);
  margin-bottom: .5rem;
}

.lead {
  opacity: .6;
}
