.postHeader {
  background: var(--background-gradient-header);
  display: flex;
  flex-direction: column;
}

.text {
  padding: calc(var(--spacing-sitepadding-block)*1.4) var(--spacing-sitepadding-inline) var(--spacing-sitepadding-block);
}

.title {
  margin-bottom: 1.6rem;
}

.meta {
  background: rgba(200, 100, 50, .1);
  font-family: var(--font-details);
  font-size: var(--font-size-header);
  padding: var(--spacing-headerpadding) var(--spacing-sitepadding-inline);
}

.tags {
  display: inline-flex;
  gap: .4rem;
  list-style: none;
}

.tag {
  font-family: var(--font-details);
  padding: 0 .4rem;
  line-height: 2;
  background: var(--color-details);
  border-radius: var(--border-radius-tag);
}