.relatedWrapper {
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

.skyline {
  position: relative;

  .clouds, .trees {
    background-size: auto 100%;
    background-repeat: repeat-x;
  }

  .clouds {
    height: 160px;
    background-image: url('/assets/pixels/skyline/clouds.png');
  }
  .trees {
    height: 300px;
    background-image: url('/assets/pixels/skyline/trees.png');
    margin-top: -100px;
    margin-bottom: -160px;
  }
}

.related {
  position: relative;
  background: var(--color-forest);
  color: var(--color-white);
  padding: var(--spacing-sitepadding-block) var(--spacing-sitepadding-inline);
  min-height: 40dvh;
}

.posts {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  margin-bottom: var(--spacing-sitepadding-block);

  @media (min-width: 900px) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.postItem {
  a {
    text-decoration: none;

    &:hover {
      color: inherit;
    }
  }
  h3 {
    font-size: var(--font-size-h3);
    margin-bottom: .6rem;
  }
  p {
    line-height: 1.4;
    opacity: .6;
  }
}

.house {
  position: absolute;
  bottom: -10px;
  right: var(--spacing-sitepadding-inline);
}